In [1]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [2]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()
# Do this instead
t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [3]:
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [4]:
for row in c.execute('SELECT * FROM stocks ORDER BY price'):
        print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [8]:
import sqlite3
conn = sqlite3.connect('test1.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE test1
             (date text, trans text)''')

# Insert a row of data
c.execute("INSERT INTO test1 VALUES ('2006-01-05','BUY')")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [3]:
import sqlite3
conn = sqlite3.connect('test1.db')
c = conn.cursor()
c.execute("INSERT INTO test1 VALUES ('2007-01-05','BUY')")
c.execute("INSERT INTO test1 VALUES ('2008-01-05','BUY')")
t = ('BUY',)
c.execute('SELECT * FROM test1 WHERE trans=?', t)
conn.commit()
print(c.fetchone())

('2006-01-05', 'BUY')

In [5]:
for row in c.execute('SELECT * FROM test1 ORDER BY date'):
        print(row)
        print(type(row))

('2006-01-05', 'BUY')
<class 'tuple'>
('2007-01-05', 'SELL')
<class 'tuple'>
('2007-01-05', 'BUY')
<class 'tuple'>
('2008-01-05', 'BUY')
<class 'tuple'>
('2008-01-05', 'BUY')
<class 'tuple'>

In [51]:
# c.execute("UPDATE submit_issue SET chap1_time = ? WHERE github_user_name = ?", tuple(comment))
import sqlite3
conn = sqlite3.connect('test1.db')
c = conn.cursor()
trans = 'SELL'
date = '2007-01-05'
c.execute('UPDATE test1 SET trans = ? WHERE date= ? ',(trans,date))
conn.commit()

In [1]:
for row in c.execute('SELECT * FROM test1 ORDER BY date'):
        print(row)
        print(type(row))

NameError: name 'c' is not defined

In [27]:
print(c.fetchall())

[]

In [ ]:
conn = sqlite3.connect('test1.db')
c = conn.cursor()
update_sql = 'UPDATE student SET name = ? WHERE ID = ? '
     data = [('HongtenAA', 1),
            ('HongtenBB', 2),
             ('HongtenCC', 3),
             ('HongtenDD', 4)]