In [1]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE stocks
             (date text, trans text, symbol text, qty real, price real)''')

# Insert a row of data
c.execute("INSERT INTO stocks VALUES ('2006-01-05','BUY','RHAT',100,35.14)")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [2]:
import sqlite3
conn = sqlite3.connect('example.db')
c = conn.cursor()
# Do this instead
t = ('RHAT',)
c.execute('SELECT * FROM stocks WHERE symbol=?', t)
print(c.fetchone())

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)

In [3]:
# Larger example that inserts many records at a time
purchases = [('2006-03-28', 'BUY', 'IBM', 1000, 45.00),
             ('2006-04-05', 'BUY', 'MSFT', 1000, 72.00),
             ('2006-04-06', 'SELL', 'IBM', 500, 53.00),
            ]
c.executemany('INSERT INTO stocks VALUES (?,?,?,?,?)', purchases)

In [4]:
for row in c.execute('SELECT * FROM stocks ORDER BY price'):
        print(row)

('2006-01-05', 'BUY', 'RHAT', 100.0, 35.14)
('2006-03-28', 'BUY', 'IBM', 1000.0, 45.0)
('2006-04-06', 'SELL', 'IBM', 500.0, 53.0)
('2006-04-05', 'BUY', 'MSFT', 1000.0, 72.0)

In [8]:
import sqlite3
conn = sqlite3.connect('test1.db')
c = conn.cursor()

# Create table
c.execute('''CREATE TABLE test1
             (date text, trans text)''')

# Insert a row of data
c.execute("INSERT INTO test1 VALUES ('2006-01-05','BUY')")

# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()

In [3]:
import sqlite3
conn = sqlite3.connect('test1.db')
c = conn.cursor()
c.execute("INSERT INTO test1 VALUES ('2007-01-05','BUY')")
c.execute("INSERT INTO test1 VALUES ('2008-01-05','BUY')")
t = ('BUY',)
c.execute('SELECT * FROM test1 WHERE trans=?', t)
conn.commit()
print(c.fetchone())

('2006-01-05', 'BUY')

In [5]:
for row in c.execute('SELECT * FROM test1 ORDER BY date'):
        print(row)
        print(type(row))

('2006-01-05', 'BUY')
<class 'tuple'>
('2007-01-05', 'SELL')
<class 'tuple'>
('2007-01-05', 'BUY')
<class 'tuple'>
('2008-01-05', 'BUY')
<class 'tuple'>
('2008-01-05', 'BUY')
<class 'tuple'>

In [51]:
# c.execute("UPDATE submit_issue SET chap1_time = ? WHERE github_user_name = ?", tuple(comment))
import sqlite3
conn = sqlite3.connect('test1.db')
c = conn.cursor()
trans = 'SELL'
date = '2007-01-05'
c.execute('UPDATE test1 SET trans = ? WHERE date= ? ',(trans,date))
conn.commit()

In [1]:
for row in c.execute('SELECT * FROM test1 ORDER BY date'):
        print(row)
        print(type(row))

NameError: name 'c' is not defined

In [27]:
print(c.fetchall())

[]

In [ ]:
conn = sqlite3.connect('test1.db')
c = conn.cursor()
update_sql = 'UPDATE student SET name = ? WHERE ID = ? '
     data = [('HongtenAA', 1),
            ('HongtenBB', 2),
             ('HongtenCC', 3),
             ('HongtenDD', 4)]

In [18]:
from utils.const_value import REPO_OWNER, REPO_NAME, USERNAME,PASSWORD,AREA,payload,payload1,payload2,TIME,DATABASE,LABEL,STATE
import sqlite3

conn = sqlite3.connect(DATABASE)
c = conn.cursor()

# for row in c.execute('SELECT COUNT(area) FROM submit_issue  WHERE area = "长三角" ORDER by github_user_name'):
#     print(row)
# for row in c.execute('SELECT COUNT(area) FROM submit_issue  WHERE area = "长三角"'):
#     print(row)

AREA=['珠三角','长三角']
static = {'长三角':{},'珠三角':{}}
for district in AREA:
    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and chap1_time != "None"',(district,)):
#         print(row)
        ls.append(row)
    print(len(ls))
    static[district]['ch1'] = len(ls)
    
    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and chap2_time != "None"',(district,)):
#         print(row)
        ls.append(row)
    print(len(ls))
    static[district]['ch2'] = len(ls)
    
    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and chap3_time != "None"',(district,)):
#         print(row)
        ls.append(row)
    print(len(ls))
    static[district]['ch3'] = len(ls)
    
    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and chap4_time != "None"',(district,)):
#         print(row)
        ls.append(row)
    print(len(ls))
    static[district]['ch4'] = len(ls)

    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and chap5_time != "None"',(district,)):
#         print(row)
        ls.append(row)
    print(len(ls))
    static[district]['ch5'] = len(ls)

    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and chap6_time != "None"',(district,)):
#         print(row)
        ls.append(row)
    print(len(ls))
    static[district]['ch6'] = len(ls)

    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and chap7_time != "None"',(district,)):
#         print(row)
        ls.append(row)
    print(len(ls))
    static[district]['ch7'] = len(ls)

print(static)
# for d in ['长三角','珠三角','北京','其他']:
# 	for chap_num in ['chap1_time','chap2_time','chap3_time','chap4_time','chap5_time','chap6_time','chap7_time']:
# 		ls = []
# 		for row in c.execute('SELECT * FROM submit_issue  WHERE area = ? and ? != "None"',(d,chap_num)):
# 			ls.append(row)
# 		print(d,chap_num,len(ls))


conn.commit()
conn.close()

18
12
16
7
5
3
2
20
18
20
14
6
7
2
{'长三角': {'ch1': 20, 'ch2': 18, 'ch3': 20, 'ch4': 14, 'ch5': 6, 'ch6': 7, 'ch7': 2}, '珠三角': {'ch1': 18, 'ch2': 12, 'ch3': 16, 'ch4': 7, 'ch5': 5, 'ch6': 3, 'ch7': 2}}

In [26]:
from utils.const_value import REPO_OWNER, REPO_NAME, USERNAME,PASSWORD,AREA,payload,payload1,payload2,TIME,DATABASE,LABEL,STATE
import sqlite3

conn = sqlite3.connect(DATABASE)
c = conn.cursor()

# for row in c.execute('SELECT COUNT(area) FROM submit_issue  WHERE area = "长三角" ORDER by github_user_name'):
#     print(row)
# for row in c.execute('SELECT COUNT(area) FROM submit_issue  WHERE area = "长三角"'):
#     print(row)

AREA=['珠三角','长三角','北京','其他']


def filter_by_area_chap(column):
    ls = []
    for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and %s != "None"' % column ,(district,)):
#         print(row)
        ls.append(row)
#     print(len(ls))
    static[district][column] = len(ls)
    
for area in AREA:
    static[area]={}
for district in AREA:
    for column in ['chap1_time','chap2_time','chap3_time','chap4_time','chap5_time','chap6_time','chap7_time']:
        filter_by_area_chap(column)

print(static)


conn.commit()
conn.close()

{'长三角': {'chap1_time': 20, 'chap2_time': 18, 'chap3_time': 20, 'chap4_time': 14, 'chap5_time': 6, 'chap6_time': 7, 'chap7_time': 2}, '珠三角': {'chap1_time': 18, 'chap2_time': 12, 'chap3_time': 16, 'chap4_time': 7, 'chap5_time': 5, 'chap6_time': 3, 'chap7_time': 2}, '北京': {'chap1_time': 20, 'chap2_time': 11, 'chap3_time': 16, 'chap4_time': 14, 'chap5_time': 5, 'chap6_time': 4, 'chap7_time': 1}, '其他': {'chap1_time': 14, 'chap2_time': 11, 'chap3_time': 14, 'chap4_time': 11, 'chap5_time': 5, 'chap6_time': 6, 'chap7_time': 3}}

In [31]:
from utils.const_value import REPO_OWNER, REPO_NAME, USERNAME,PASSWORD,AREA,payload,payload1,payload2,TIME,DATABASE,LABEL,STATE
import sqlite3

conn = sqlite3.connect(DATABASE)
c = conn.cursor()


AREA=['珠三角','长三角','北京','其他']
def static_performance():    
    for area in AREA:
        static[area]={}
    for district in AREA:
        for column in ['chap1_time','chap2_time','chap3_time','chap4_time','chap5_time','chap6_time','chap7_time']:
            ls = []
            for row in c.execute('SELECT * FROM submit_issue WHERE area = ? and %s != "None"' % column ,(district,)):
                ls.append(row)
            static[district][column] = len(ls)

    return static
print(static_performance())
conn.commit()
conn.close()

{'长三角': {'chap1_time': 20, 'chap2_time': 18, 'chap3_time': 20, 'chap4_time': 14, 'chap5_time': 6, 'chap6_time': 7, 'chap7_time': 2}, '珠三角': {'chap1_time': 18, 'chap2_time': 12, 'chap3_time': 16, 'chap4_time': 7, 'chap5_time': 5, 'chap6_time': 3, 'chap7_time': 2}, '北京': {'chap1_time': 20, 'chap2_time': 11, 'chap3_time': 16, 'chap4_time': 14, 'chap5_time': 5, 'chap6_time': 4, 'chap7_time': 1}, '其他': {'chap1_time': 14, 'chap2_time': 11, 'chap3_time': 14, 'chap4_time': 11, 'chap5_time': 5, 'chap6_time': 6, 'chap7_time': 3}}